# ignore everything
/*

# ignore __pycache__ individually because it is on every folder
__pycache__

# accept
!src/
!tests/
!.coveragerc
!.gitignore
!completion.bash
!LICENSE
!MANIFEST.in
!README.md
!setup.py
